@import "../../../../scss/color";
@import "../../../../app.global";

.addContactButton {
  @extend .mainButton;
  text-align: right;
  background-color: $success-color;
  float: right;
}

.form {
  width: 100%;
}

.createContactButton {
  @extend .mainButton;
  margin-top: 20px;
  padding: 10px;
  float: right;
}
