@import '../../../../app.global';
@import "../../../../scss/color";

.contacts {
  background-color: #43425D;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  overflow: scroll;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100px;
}

.list {
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 0!important;
  width: 100%;
}

.sliderContainer {
  align-content: center;
  width: 90%;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.pluginSelected {
  color: #43425D;
  font-size: 16px;
  font-weight: bold;
}

.localImage {
  display: none;
}

.labelFile {
  cursor: pointer;
  background-color: $secondary-color;
  border-radius: 5px;
  padding: 10px 20px;
}

.labelFile:hover {
  background-color: $primary-color;
}

.header {
}

.deleteButton {
  background-color: $error-color;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 5px 6px;
  transition: 0.2s;
  position: relative;
  top: 5px;
  margin-left: 15px;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: #bd1436;
  transition: 0.2s;
}
