.container, .containerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 95%;
  width: 40%;
}

.containerRow {
  flex-direction: column;
}
