/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Roboto|Lobster');

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fff;
  font-family: Roboto, Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
  color: #2b2b2b;
}

#root {
  height: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 1em;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
